@import "fonts";
@import "normalize";
@import "mixins";
@import "variables";

// COMMON STYLES

:root {
  --height-alert-line: 50px;
}

::placeholder {
  font-family: $fontRoboto;
  font-size: 9px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.12px;
  text-align: left;
  color: #818181;
  text-transform: uppercase;
}

::selection {
  background: #ffdd4b; /* Safari */
  color: #333;
}
::-moz-selection {
  background: #ffdd4b; /* Firefox */
  color: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &:focus-visible {
    outline: 2px solid #777;
    outline-offset: 3px;
  }
}

.mobile-menu-opened *:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 3px;
  border-radius: 2px;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  font-family: $fontRoboto;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;

}

img {
  width: 100%;
  height: 100%;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
  margin-right: 17px;
}

.mobile-menu-opened {
  overflow: hidden;
  height: 100vh;
}

._container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

button {
  border: none;
  background-color: transparent;
}

.btn {
  padding: 19px 49px;
  color: #fff;
  background-color: $colorBlack;
  font-size: 12px;
  font-weight: 400;
  line-height: 116%;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
}

// HEADER SECTION

.header {
  width: 100%;
  position: relative;
  z-index: 100;
}
.header__container {
  max-width: 1440px;
  margin: 0 auto;
}
.header__alert-line {
  width: 100%;
  max-width: 1440px;
  height: var(--height-alert-line);
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: $fontRoboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 128%;
  text-align: center;
  position: fixed;
  z-index: 200;
}

.alert-line-switch .header__alert-line,
.alert-line-switch .header__wrapper {
  transform: translateY(-50px);
  transition-duration: 0.5s;
}

.close-cross {
  position: absolute;
  height: 25px;
  width: 25px;
  top: calc(50% - 12.5px);
  right: 15px;
  cursor: pointer;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 25px;
    height: 1.5px;
    background-color: #fff;
    transform: rotateZ(45deg);
    transition-duration: 0.2s;
  }
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 25px;
    height: 1.5px;
    background-color: #fff;
    transform: rotateZ(-45deg);
    transition-duration: 0.2s;
  }
  &:hover::after {
    transform: rotateZ(45deg) scale(1.1);
  }
  &:hover::before {
    transform: rotateZ(-45deg) scale(1.1);
  }
  &:focus-visible {
    outline: 2px solid #fff;
  }
}
.header__logo {
  width: 84px;
  height: 40px;
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 48px);
}
.header__nav {
  position: relative;
  width: 100%;
  height: 96px;
  background-color: transparent;
  padding: 0 60px;
  top: 50px;
  overflow-y: auto;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.header-nav__wrapper {
  height: 96px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__list {
  list-style-type: none;
}
.header-nav__left-menu {
  display: inline-flex;
  max-width: 600px;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.header-nav__left-menu li {
  margin: 0 30px 0 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-nav__right-menu {
  display: inline-flex;
  max-width: 600px;
  flex-wrap: wrap;
  justify-content: flex-end;
  li {
    margin: 0 30px 0 30px;
    display: flex;
    align-items: center;
  }
}

.header-nav__link {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  &:hover {
    opacity: 0.9;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    margin-top: 2px;
    height: 1px;
    width: 0%;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
  }
  &:hover::after {
    width: 100%;
    left: 0;
    right: auto;
  }
  &:focus-visible {
    outline: 1px solid #000;
    outline-offset: 3px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.mobile-menu-opened .header-nav__link {
  &:focus-visible {
    outline: 1px solid #fff;
    outline-offset: 3px;
    border-radius: 2px;
  }
}

// BURGER BUTTON

.header__burger {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 65px;
  right: 20px;
  transition-duration: 0.6s;
  cursor: pointer;
  background-color: transparent;
  z-index: 100;
  @media (max-width: 768px) {
    display: block;
  }
  &:focus-visible {
    outline: 1px solid #fff;
    outline-offset: 3px;
  }
}

.header__burger span {
  height: 2px;
  width: 40px;
  background-color: #fff;
  position: absolute;
  transition-duration: 0.25s;
  transition-delay: 0.25s;
  top: 19px;
  left: 0;
}

.header__burger span:before {
  left: 0;
  position: absolute;
  top: -15px;
  height: 2px;
  width: 40px;
  background-color: #fff;
  content: "";
  transition-duration: 0.25s;
  transition: transform 0.25s, top 0.25s 0.25s;
}
.header__burger span:after {
  left: 0;
  position: absolute;
  top: 16px;
  height: 2px;
  width: 40px;
  background-color: #fff;
  content: "";
  transition-duration: 0.25s;
  transition: transform 0.25s, top 0.25s 0.25s;
}
.mobile-menu-opened .header__burger span {
  transition-duration: 0.05s;
  transition-delay: 0.1s;
  background: transparent;
}
.mobile-menu-opened .header__burger span:before {
  transition: top 0.25s, transform 0.15s 0.15s;
  top: 0px;
  transform: rotateZ(-45deg);
}
.mobile-menu-opened .header__burger span:after {
  transition: top 0.4s, transform 0.15s 0.15s;
  top: 0px;
  transform: rotateZ(45deg);
}

// INTRO SECTION

.intro {
  width: 100%;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.header-intro {
  position: relative;
  top: -46px;
}

.mobile-menu-opened .header-intro {
  top: 50px;
}

.header-intro__image {
  background-color: #996b60;
  width: 50%;
  height: 804px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (max-width: 1400px) {
    height: auto;
  }
}
.header-intro__info {
  width: 50%;
  // max-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #996b60;
}
.header-intro__wrapper {
  padding: 90px 60px 100px 60px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}
.header-intro__header {
  font-family: $fontLiberation;
  font-size: 73px;
  font-weight: 400;
  line-height: 131%;
  margin-bottom: 65px;
  color: #fff;
}
.header-intro__text {
  @include mainFont(#fff);
  margin-bottom: 45px;
}
.header-intro__btn {
  max-height: 52px;
  height: 52px;
  border: 1px solid #fff;
  color: #000;
  letter-spacing: 1px;
  align-self: flex-start;
  background-color: transparent;
  background-image: url(../img/wave-black.png);
  background-repeat: repeat-x;
  background-position: 0 -160%;
  transition: background-position 0.45s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-position: 250% 100%;
    color: #fff;
    border: 1px solid #fff;
  }
  &:focus-visible {
    outline: 2px solid #000;
    outline-offset: 0;
  }
}
.info__wrapper *:last-child {
  margin-bottom: 0;
}

// REVIEWS SECTION

.grey-line {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: calc(50% - 660px);
    height: 1px;
    width: 1320px;
    background-color: #bdbdbd;
  }
}

.reviews {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 40px;
  position: relative;
}

.reviews-slide {
  display: flex;
  justify-content: center;
}

.reviews__wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  transition-duration: 0.4s;
  margin: 0px 20px;
  &:hover {
    transform: scale(1.08);
  }
}

.reviews__text {
  @include mainFont(#000);
  text-align: center;
  margin-bottom: 25px;
  max-width: 330px;
}

.reviews__logo {
  display: flex;
  justify-content: center;
}

.reviews__logo img {
  width: 100%;
  height: 100%;
}

.reviews__wrapper *:last-child {
  margin-bottom: 0;
}

// GOODS SECTION 1256

.shop-now {
  padding-top: 100px;
  padding-bottom: 140px;
}
.shop-now__container {
  max-width: 1256px;
  margin: 0 auto;
}
.shop-now__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shop-now__header {
  max-width: 673px;
  font-family: $fontLiberation;
  font-size: 64px;
  line-height: 125%;
  justify-content: flex-start;
  text-align: center;
  margin-bottom: 30px;
}
.shop-now__title {
  font-family: $fontRoboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  display: inline-block;
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    margin-top: 2px;
    height: 1px;
    width: 0%;
    background-color: rgb(0, 0, 0);
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
  }
  &:hover::after {
    width: 100%;
    left: 0;
    right: auto;
  }
}
.shop-now__second-wrapper {
  padding-top: 85px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.good {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px 0px 15px;
}
.good__image {
  margin-bottom: 30px;
  img {
    width: 100%;
  }
}
.good__title {
  @include customFont($fontLiberation, 31px, 400, #000);
  line-height: 141%;
  text-align: center;
  margin-bottom: 25px;
}
.good__text {
  @include customFont($fontRoboto, 16px, 400, #000);
  line-height: 175%;
  text-align: center;
  margin-bottom: 25px;
}
.good__button {
  align-self: center;
  border: 1px solid #000;
  background-image: url(../img/wave-white.png);
  background-repeat: repeat-x;
  background-position: 0 -160%;
  transition: background-position 0.5s ease-out;
  margin-bottom: 10px;
  &:hover {
    background-position: 120% 100%;
    color: #000;
    border: 1px solid #000;
  }
  &:focus-visible {
    outline: 3px solid #000;
  }
}

// INFO-FULL SECTION

.info-full {
  padding-top: 60px;
  padding-bottom: 95px;
}
.info-full__container {
  max-width: 1320px;
  margin: 0 auto;
}
.info-full__img {
  max-width: 1320px;
  width: 100%;
  height: 100%;
  margin-bottom: 55px;
}
.info-full__wrapper {
  display: flex;
  justify-content: space-between;
}
.info-full__header {
  @include customFont($fontLiberation, 53px, 400, #000);
  width: 50%;
  text-align: left;
  line-height: 150%;
  padding-left: 25px;
}
.info-full__text {
  @include mainFont(#000);
  width: 50%;
  max-width: 548px;
  padding-right: 25px;
}

// INFO-RIGHT SECTION

.info-right {
  padding: 60px 0 40px 0;
  overflow: hidden;
}
.info-right__container {
  max-width: 1320px;
  margin: 0 auto;
}
.info-right__wrapper {
  display: flex;
  justify-content: space-between;
}
.info-right__text {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  overflow: hidden;
}
.side-article__title {
  @include customFont($fontLiberation, 30px, 400, #000);
  line-height: 146%;
  text-align: left;
  max-width: 385px;
  margin-bottom: 22px;
}
.side-article__text {
  @include mainFont(#000);
  max-width: 385px;
  margin-bottom: 25px;
}
.side-article__header {
  @include customFont($fontLiberation, 36px, 400, #000);
  line-height: 122%;
  max-width: 385px;
  text-align: left;
  margin-bottom: 22px;
}
.side-article *:last-child {
  margin-bottom: 0;
}
.info-right__img {
  flex-basis: 880px;
  padding-left: 20px;
  box-sizing: content-box;
  height: 68.295%;
  img {
    width: 100%;
    aspect-ratio: 16 / 10.9;
  }
}

// BUYER'S REVIEWS SECTION

.buyers-reviews__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
}

.buyers-reviews {
  padding-top: 90px;
  padding-bottom: 60px;
  background-color: #000;
}
.buyers-reviews__wrapper {
  display: flex;
  justify-content: space-between;
}
.buyer-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  padding: 0px 15px 0px 15px;
  transition-duration: 0.4s;
  &:hover {
    transform: scale(1.08);
  }
}
.buyer-review__text {
  @include mainFont(#fff);
  text-align: center;
  margin-bottom: 20px;
}
.buyer-review__name {
  @include customFont($fontRoboto, 14px, 400, #fff);
  text-align: center;
  text-transform: uppercase;
  line-height: 150%;
  margin-bottom: 20px;
}
.buyer-review__title {
  @include customFont($fontLiberation, 19px, 400, rgb(255, 255, 255));
  text-align: center;
  text-transform: capitalize;
  line-height: 150%;
  margin-bottom: 20px;
  padding-left: 15px;
  letter-spacing: 0.5px;
}

// HAUS ARTICLE SECTION

.haus-article {
  padding: 150px 0px 150px 0px;

}
.haus-article__container {
  max-width: 1320px;
  margin: 0 auto;
}
.haus-article__wrapper {
  display: flex;
  justify-content: space-between;
}
.haus-article__img {
  max-width: 550px;
  margin-right: 15px;
}
.haus-article__img img {
  width: 100%;
  height: auto;
  aspect-ratio: auto;
}
.haus-article__info {
  max-width: 660px;
  margin-left: 15px;
}
.haus-article__header {
  @include customFont($fontLiberation, 64px, 400, #000);
  line-height: 125%;
  text-align: left;
  margin-bottom: 50px;
  padding: 6px 20px 0px 20px;
}
.haus-article__text {
  @include mainFont(#000);
  margin-bottom: 35px;
  padding: 0px 20px 0px 20px;
}
.haus-article__link {
  font-family: $fontRoboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  display: inline-block;
  margin-left: 20px;
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    margin-top: 2px;
    height: 1.2px;
    width: 0%;
    background-color: #000;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
  }
  &:hover::after {
    width: 100%;
    left: 0;
    right: auto;
  }
}

// SET THE MOOD SECTION

.set-mood {
  padding: 60px 0px 60px 0px;
  background-image: url(../img/picture-set-me-mood.webp);
  background-size: cover;
}
.set-mood__container {
  max-width: 1440px;
  margin: 0 auto;
}
.set-mood__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 550px;
  margin-left: 60px;
}
.set-mood__block {
  margin-bottom: 22px;
}
.mood-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
  background-color: #000;
  padding: 40px 70px 40px 70px;
  *:last-child {
    margin-bottom: 0;
  }
}
.mood-block__header {
  @include customFont($fontLiberation, 55px, 400, #fff);
  line-height: 145%;
  text-align: left;
  margin-bottom: 35px;
}
.mood-block__text {
  @include mainFont(#fff);
  text-align: center;
  margin-bottom: 25px;
}
.mood-block__button {
  background-color: #fff;
  text-transform: uppercase;
  color: #000;
  font-family: $fontRoboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 116%;
  letter-spacing: 1px;
  text-align: center;
  border: 1px solid #fff;
  background-image: url(../img/wave-black.png);
  background-repeat: repeat-x;
  background-position: 0 -160%;
  transition: background-position 0.5s ease-out;
  &:hover {
    background-position: 250% 100%;
    color: #fff;
    border: 1px solid #fff;
    transition: 0.5s ease-out;
  }
  &:focus-visible {
    outline: 2px solid #fff;
    outline-offset: 3px;
  }
}

.follow-block {
  padding: 35px 0px 35px 0px;
  background-color: #000;
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  *:last-child {
    margin-bottom: 0;
  }
}
.follow-block__title {
  font-family: $fontRoboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  text-align: center;
  color: #fff;
  margin-bottom: 18px;
}
.follow-block__list {
  list-style-type: none;
}
.follow-block__item {
  display: inline-block;
  font-family: $fontRoboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  margin: 0px 30px;
  display: inline-block;
  position: relative;
  a {
    text-decoration: none;
    color: #fff;
  }
  &::after {
    content: "";
    position: absolute;
    right: 0;
    display: block;
    margin-top: 2px;
    height: 1px;
    width: 0%;
    background-color: #fff;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
  }
  &:hover::after {
    width: 100%;
    left: 0;
    right: auto;
  }
}

// FOOTER

.footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 50px 20px 60px 20px;
}
.footer__container {
  max-width: 1320px;
  margin: 0 auto;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
}
.stat-posted-form {
  flex-basis: 440px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 20px;
}
.stat-posted-form *:last-child {
  margin-bottom: 0;
}

.form-header {
  @include customFont($fontLiberation, 42px, 400, #fff);
  line-height: 171%;
  margin-bottom: 20px;
}

.form-text {
  @include mainFont(#fff);
  line-height: 150%;
  max-width: 424px;
  margin-bottom: 15px;
}

.form {
  border-bottom: 1px solid #666;
  max-width: 440px;
  padding: 0px 0px 20px 0px;
}
.form-input {
  height: 26px;
  width: 370px;
  border: none;
  color: #fff;
  background-color: #000;
  font-family: $fontRoboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 117%;
  letter-spacing: 0.5px;
  padding: 0px 20px 0px 20px;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid rgba(255, 255, 255, 0.582);
  }
  &:focus-visible {
    outline: 1px solid #fff;
    border-radius: 0;
    outline-offset: 0;
  }
}
.form-btn {
  font-family: $fontRoboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 117%;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  padding: 6px 9px;
  border: 1px solid transparent;
  &:hover {
    color: #000;
    background-color: rgba(255, 255, 255, 0.801);
  }
  &:focus-visible {
    outline: 1px solid #fff;
    border-radius: 0;
    outline-offset: 1px;
  }
}
.footer__footer-main-menu {
  margin-left: 20px;
}
.footer-main-menu {
  flex-basis: 580px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer-main-menu__wrapper {
  padding: 0px 10px 25px 10px;
}
.footer-main-menu__list {
  list-style-type: none;
  text-align: left;
}
.footer-main-menu__list *:last-child {
  margin-bottom: 0;
}
.footer-main-menu__title {
  @include customFont($fontRoboto, 14px, 400, #fff);
  text-transform: uppercase;
  line-height: 150%;
  margin-bottom: 30px;
  text-align: left;
}
.footer-main-menu__link {
  @include customFont($fontRoboto, 12px, 400, rgba(255, 255, 255, 0.6));
  text-decoration: none;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 1px;
  display: inline-block;
  position: relative;
  &:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  &::after {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    margin-top: 2px;
    height: 1px;
    width: 0%;
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
  }
  &:hover::after {
    width: 100%;
    left: 0;
    right: auto;

    }
}

.footer-main-menu__item {
  margin-bottom: 21px;
}

.under-menu {
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.under-menu__item {
  list-style-type: none;
  margin-right: 60px;
  padding: 5px 0;
}
.under-menu *:last-child {
  margin-right: 0;
}
.under-menu__link {
  @include customFont($fontRoboto, 16px, 400, rgba(255, 255, 255, 0.6));
  line-height: 150%;
  text-decoration: none;
  text-transform: capitalize;
  &:hover {
    color: rgba(255, 255, 255, 0.75);
  }
}
.footer__copyright {
  display: inline-block;
  margin-right: 60px;
  margin-left: 40px;
}

// POPUPS

.popup-filter {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: none;
}
.popup-opened .popup-filter {
  display: block;
}
.popup-send-me {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // overflow-y: scroll;
}
.popup-send-me__wrapper {
  max-width: 500px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: auto;
  padding: 0px 0px 0px 0px;
}
#popup-send-me .close-cross {
  top: 15px;
  right: 18px;
  opacity: 1;
  transform: scale(1.2);
}
#popup-send-me .close-cross::after,
#popup-send-me .close-cross::before {
  background-color: #fff;
}
.popup-send-me__title {
  margin-top: 50px;
  @include customFont($fontLiberation, 40px, 700, #fff);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 25px 15px;
  text-align: center;
  @media (max-width: 400px) {
    font-size: 34px;
  }
}
.popup-send-me__text {
  @include customFont($fontLiberation, 25px, 600, #000);
  line-height: 150%;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  padding: 25px 15px;
  text-align: center;
  @media (max-width: 400px) {
    font-size: 23px;
    padding: 18px 10px;
  }
}
.golder-text {
  color: #a98215;
}
.popup-send-me__gif {
  display: block;
  width: 100%;
  min-height: 250px;
  background-image: url(../img/di.gif);
  background-size: cover;
  background-repeat: no-repeat;
  @media (max-width: 400px) {
    background-size: contain;
    min-height: 200px;
  }
}

.popup-send-me__video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  @media (max-width: 400px) {
    background-size: contain;
    min-height: 200px;
  }
}
.popup-send-me__list {
  display: flex;
  justify-content: space-around;
  padding: 20px 0px 20px 0px;
  list-style-type: none;
  margin-left: -20px;
}
.popup-send-me__item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Liberation Serif", sans-serif;
  font-size: 25px;
  font-weight: 600;
}
.popup-send-me__link {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0px 6px 0px 6px;
}

.social-icons {
  width: 35px;
  height: 35px;
}


#linkedin-circle-icon,
#twitter-circle-icon,
#github-circle-icon,
#telegram-circle-icon {
  fill: #fff;
}

#linkedin-icon-inner,
#twitter-icon-inner,
#github-icon-inner,
#telegram-icon-inner {
  fill: #000;
}

.social-icons:hover {
  transform: scale(1.1);
  transition-duration: .15s;
}

.social-icons:active {
  transform: translateX(1px);
}


.social-icon:hover #linkedin-circle-icon {
  fill: #0076B4;
}

.social-icon:hover #telegram-circle-icon {
  fill: #2DA5E1;
}

.social-icon:hover #twitter-circle-icon {
  fill: #00B2FA;
}

.social-icon:hover #github-circle-icon {
  fill: #8b00ff;
}

.social-icon:hover #linkedin-icon-inner,
.social-icon:hover #twitter-icon-inner,
.social-icon:hover #github-icon-inner,
.social-icon:hover #telegram-icon-inner {
  fill: #fff;
}

// #1877f2;

#telegram-circle-icon

.social-icons:hover {
  transform: scale(1.07);
  transition-duration: .2s;
}


// MEDIA QUERIES

@media (max-width: 1320px) {
  .info-right__text {
    padding: 0px 20px 0px 20px;
  }
  .side-article__text {
    font-size: 17px;
    margin-bottom: 15px;
  }
}

@media (max-width: 1200px) {
  .header-intro__wrapper {
    padding-bottom: 70px;
  }
  .header-intro__header {
    font-size: 50px;
    line-height: 115%;
    margin-bottom: 45px;
  }
  .header-intro__text {
    font-size: 17px;
  }
  .reviews__wrapper {
    padding: 0px 15px 0px 15px;
  }
  .reviews__logo img {
    width: 100%;
  }
  .grey-line::after {
    display: none;
    width: 90%;
    margin: 0 auto;
    left: calc(50% - 45%);
  }
  .reviews__wrapper {
    max-width: 330px;
  }
  .reviews__text {
    font-size: 17px;
    margin-bottom: 25px;
  }
  .info-full__header {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    line-height: 125%;
  }
  .info-full__text {
    padding-right: 20px;
    padding-left: 20px;
  }
  .info-right {
    padding-bottom: 0;
    min-height: 750px;
  }
  .info-right__wrapper {
    flex-direction: column;
    position: relative;
  }
  .info-right__img {
    padding-left: 0px;
    flex-basis: auto;
  }
  .info-right__img img {
    height: 100%;
    object-fit: cover;
    min-height: 750px;
  }
  .haus-article__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .haus-article__header {
    text-align: center;
    margin-bottom: 50px;
    font-size: 45px;
  }
  .haus-article__text {
    text-align: center;
  }
  .info-right__text {
    position: absolute;
    background-color: #000;
    width: 50%;
    left: calc(50% - 25%);
    top: 10%;
    padding: 25px 25px 35px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .side-article__title,
  .side-article__text,
  .side-article__header {
    color: #fff;
    text-align: center;
  }
  .side-article__title,
  .side-article__header {
    font-size: 32px;
    font-weight: bold;
  }
  .haus-article__img {
    display: none;
  }
  .haus-article__wrapper {
    justify-content: center;
  }
  .form-input {
    width: 100%;
    border: 1px solid #666;
  }
  .form-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
    width: 100%;
    border: 1px solid #666;
  }
  .form-input::placeholder {
    text-align: center;
  }
  .footer {
    padding-bottom: 40px;
    text-align: center;
  }
  .footer__copyright {
    display: none;
  }
  .under-menu {
    justify-content: center;
  }
  .under-menu__item {
    margin: 10px 15px 10px 15px;
    margin-right: 15px;
  }

  .set-mood__wrapper {
    margin-left: auto;
    margin-right: auto;
  }
  .mood-block__header {
    text-align: center;
  }
  .header__nav {
    padding: 0 0;
  }
  .haus-article__link {
    padding-left: 0;
  }
  .shop-now__header {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 980px) {
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
  .form-text {
    text-align: center;
  }
  .footer-main-menu {
    width: 100%;
    flex-basis: auto;
    margin-bottom: 50px;
  }
  .footer__footer-main-menu {
    margin-left: 0;
  }
  .stat-posted-form {
    flex-basis: auto;
    margin-bottom: 80px;
    margin-right: 0;
  }
  .mood-block__header,
  .shop-now__header {
    font-size: 45px;
    margin-bottom: 20px;
  }
  .buyers-reviews__container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header-nav__right-menu li,
  .header-nav__left-menu li {
    margin: 0px 20px 0px 20px;
  }
}

@media (max-width: 768px) {
  .header-nav__wrapper {
    display: none;
  }

  .mobile-menu-opened .header-nav__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    padding-top: 75px;
  }

  .header__logo {
    display: none;
  }

  .set-mood__block {
    width: 450px;
  }

  .set-mood__follow {
    width: 450px;
  }
  .haus-article__info {
    margin-left: 0;
  }
  .info-right__text {
    width: 70%;
    left: calc(50% - 35%);
  }
  .under-menu__item {
    margin: 10px 10px 10px 10px;
  }

  .mobile-menu-opened .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100vh + 50px);
    background-color: rgba(0, 0, 0, 0.85);
  }

  .mobile-menu-opened .header-nav__left-menu,
  .mobile-menu-opened .header-nav__right-menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .mobile-menu-opened .header-nav__right-menu li,
  .mobile-menu-opened .header-nav__left-menu li {
    margin: 0px 20px 15px 20px;
  }

  .mobile-menu-opened .header-nav__link {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .header-intro__image {
    display: none;
  }
  .header-intro__info {
    width: 100%;
  }
  .header-intro__wrapper {
    padding: 90px 25px 90px 25px;
  }
  .header-intro__text,
  .header-intro__header {
    text-align: center;
  }
  .header-intro__btn {
    margin: 0 auto;
    background-color: #fff;
  }
  .mood-block {
    padding: 40px 20px 40px 20px;
  }
  .set-mood__follow {
    padding: 35px 20px 35px 20px;
  }
  .set-mood__block,
  .set-mood__follow {
    width: 80%;
  }
  .follow-block__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 15px 0px 15px;
  }
  .follow-block__item {
    margin: 0px 12px 8px 12px;
  }
  .mood-block__header {
    font-size: 35px;
  }
  .side-article__text {
    font-size: 16px;
  }
  .info-right__text {
    top: 6%;
    width: 90%;
    left: calc(50% - 45%);
  }
  .info-full__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .info-full__text,
  .info-full__header {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    width: 90%;
  }
  .info-full__header {
    font-size: 45px;
    line-height: 110%;
    margin-bottom: 20px;
  }
  .info-full {
    padding-top: 0;
    padding-bottom: 0;
  }
  .footer-main-menu {
    margin-bottom: 0;
  }
  .footer-main-menu__title {
    margin-bottom: 10px;
  }
  .footer-main-menu__item {
    margin-bottom: 2px;
  }
  .header__logo {
    display: none;
  }
  .shop-now {
    padding-bottom: 50px;
  }
  .info-full__img {
    margin-bottom: 20px;
  }
  .info-right {
    padding-bottom: 0;
  }
  .under-menu__item {
    margin: 0px 10px 0px 10px;
  }
  .under-menu__item :last-child {
    margin-right: 0px;
  }
  .stat-posted-form {
    margin-bottom: 40px;
  }
  .under-menu__link {
    font-size: 15px;
  }
  .form-input {
    height: 30px;
  }
  .shop-now__header,
  .haus-article__header,
  .info-full__header {
    font-size: 32px;
  }
  .shop-now__second-wrapper {
    padding-top: 30px;
  }
  .haus-article__header {
    margin-bottom: 30px;
  }
  .info-full__img {
    margin-bottom: 30px;
  }
  .info-right {
    height: 700px;
  }
  .info-right__wrapper,
  .info-right__img {
    height: 100%;
  }
  .shop-now {
    padding-bottom: 40px;
  }
  .footer__under-menu {
    margin-top: 20px;
  }
  .mobile-menu-opened .header-nav__link {
    font-size: 17px;
  }
  .mobile-menu-opened .header-nav__right-menu li,
  .mobile-menu-opened .header-nav__left-menu li {
    margin: 0px 20px 20px 20px;
  }
}

@media (max-width: 400px) {
  .info-right {
    height: 900px;
  }
  .footer-main-menu__list {
    width: 100%;
    padding-left: 4px;
  }
}

// SLICK SLIDER

@import "slick";
@import "slick-theme";


